<!DOCTYPE html>

<html>

<head>
  <title>RESTful stories layout</title>
</head>

<body>
  <header>
    <% if @user_logged_in %>
      You are logged in as <%= @user_logged_in.name%>
      <a href="/users/logout">Logout</a>
    <% else %>
      You are not logged in
      <a href="/users/login">Log in</a>
    <% end %>
  </header>
  <%= yield %>
</body>

</html>